*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background: url(./img/man.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navBar{
    display: flex;
    /* display: inline-block; */
    /* width: 100%; */
    /* height: 6vh; */
    /* background-color: rgb(95, 126, 109); */
    /* justify-content: center; */
    justify-content: space-evenly;
    justify-content: space-around;
}
.logo{
    /* margin-inline: 25px; */
    /* padding: 8px; */
    display: inline-block;
    color: rgb(130, 16, 67);
    font-size: 2.3rem;
    /* align-items: center; */
    text-shadow: 5px 5px 3px whitesmoke ;
    /* color: transparent; */
    /* font-size: 30px; */
    font-family: cursive;
}
div nav{
    margin-inline: 7%;
    margin-top: 2%;
    justify-content: space-evenly;
    /* box-sizing: border-box; */
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    
}
nav div{
    display: inline-block;
    justify-content: space-evenly;
}
div nav ul{
    display: flex;
    display: inline;
    line-height: 30px;
    list-style-type: none;
    /* padding-inline: 25%; */
}
div nav ul li{
    /* justify-content: center; */
    display: inline-block;
    /* padding: 5px 20px; */
    /* padding-inline: 50px ; */
    font-weight: bold;

}
div nav ul li a{
    padding-inline:10px;

    text-align: end ;
    color: rgb(41, 226, 176);
    transition: 0.5s ease-in-out;
}

div nav ul li a:hover{
    text-shadow: 2px 2px 3px white;
    color:red;

}
/* .register{
    float: right;
    
    position: relative;
    margin: 10px;
} */
.signup{
    align-items: center;
    padding: 5px ;
    border-radius: 5px;
    border: none;
    background-color: rgb(251, 251, 251);
    color: rgb(235, 21, 21);
    cursor: pointer;
    
}
.signin{
    align-items: center;
    padding: 5px ;
    border-radius: 5px;
    border: none;
    margin-left: 7px;
    background-color: rgb(255, 255, 255);
    color: rgb(243, 14, 14);
    cursor: pointer;
}
.signin:hover, .signup:hover{
    background-color: red;
    color: white;
}

.social-media{
    display: flex;
    background-color: white;
}
.social-media p a{
    display: flex;
    text-align: center;
    background-color: blue;
}
.web-body{
    margin-left: 300px;
    float: right;
    width: 400px;
    height: 600px;
    /* background-color: green; */

    display: flex;
    left: 300px;
    align-items: center;
}
.web-body main {
    margin: 250px;

}
.web-body main p a{
    display:inline-block ;
    font-size: 60px;
    margin-block:30px ;
    color: rgb(236, 118, 138);
}
.web-body main p a:hover{
    /* text-shadow: 3px 3px 5px rgb(122, 227, 66); */
    text-shadow: 3px 3px 5px rgb(114, 152, 233), 2px 2px 3px rgb(126, 251, 76);
}














